<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Passionate Computer Science and Engineering student with a demonstrated history of working in higher-education research
                aspiring to make a better future for the world. Skilled in Python development with a focus on computer vision,
                Full-Stack web development, and common engineering software including but not limited to Unity 3D, ROS, and Git.
                Always looking to lead the way, learn from others, and take on any challenge!</p>
                <a href="#portfolio" class="btn btn-default btn-xl page-scroll">View Projects</a>
            </div>
        </div>
    </div>
</section>
